{#
/**

{% extends '@biopama_libraries/biopama-collapsible-card.html.twig' %}

This card requires the following to operate correctly:
Variables:
title: obvious
sub_title: whatever you want below the title
img_url: raw text url to an image
edit_url: raw text url to the edit node page
count: a unique number that allows the collapse function to work on multiple rows in a page.

blocks:
collapse_trigger: the trigger to expand the block below (collapse_body) - default trigger is provided
collapse_body: the stuff that gets expanded when the collapse trigger is clicked *Default not provided*
 */
#}

<div class="card text-bg-dark m-2 opacity-75">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4 col-xxl-3  text-align-center">
                <img class="w-100" src="{{ img_url }}"/>
            </div>
            <div class="col-sm-8 d-flex align-content-between flex-wrap">
                <div class="row w-100">
                    <h2>
                        {{ title }}
                    </h2>
                    <p>{{ sub_title }}</p>
                </div>
                <div class="row w-100">
                    <div class="col-4">
                        {% if is_admin %}		
                        <a class="btn btn-light" href="{{ edit_url }}" role="button">Edit</a>
                        {% endif %}
                    </div>
                    <div class="col-8">
                        {% block collapse_trigger %}
                        <button class="biopama-collapse btn btn-outline-success w-100 d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ count }}" aria-expanded="false" aria-controls="collapse-{{ count }}">
                            <div class="collapse-title">
                                <i class="fa-solid fa-circle-info"></i> More 
                            </div>
                            <div class="card-collapsed">
                                <i class="fas fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <div class="card-expanded">
                                <i class="fas fa-chevron-up" aria-hidden="true"></i>
                            </div>
                        </button>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="collapse-{{ count }}" class="collapse" aria-labelledby="{{ title }}">
                    <hr>
                    {% block collapse_body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>



{#
/**
<a href="/node/{{ field_page_related_document__target_id }}"><div class="btn btn-info">Doc</div></a>
 */
#}