{#
/**

{% extends '@biopama_libraries/biopama-dashboard-page.html.twig' %}

This card requires the following to operate correctly:
blocks:
dashboard_menu: every dashboard has a view that goes here
dashboard_content: the main area for the content
 */
#}
<div class="container-fluid px-5">
	<div class="row">
		<div class="col-md-12 col-lg-6 col-xl-3 col-xxl-2 col">
			{% block dashboard_menu %}
			{% endblock %}
		</div>
		<div class="col-md-12 col-lg-6 col-xl-9 col-xxl-10 col">
			{% block dashboard_content %}
			{% endblock %}
		</div>
	</div>
</div>

<div class="wave-corner text-align-right">
	<img src="{{ image_path }}color_wave.png"/>
</div>

<!-- <button id="myBtn_scrollTop" title="Go to top"><i class="fas fa-arrow-up fa-2x"></i></button> -->