<div class="container-fluid">
  <div class="row m-5">
    <div class="col-sm-12 col-lg-6 col-xl-4 col mb-5">
      <div class="container-fluid p-3 bg-gray-1200 module-intro-text text-align-justify opacity-75  text-white">
        <div class="bio-divider p-3"></div>
        {% block intro %}
        {% endblock %}
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-8 col">
      {% block cards %}
	    {% endblock %}
    </div>
  </div>
</div>

<div class="wave-corner text-align-right">
  <img src="{{ image_path }}color_wave.png"/>
</div>