.card.homepageMapCard {
    margin: 0px 0px 25px 0px;
	opacity: 0.9;
}

.biopamaPopup .mapboxgl-popup-content {
    background: transparent;
    box-shadow: none;
    padding: 5px;
    pointer-events: auto;
    max-height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
}
.mapPopupCard{
    background: #1f2123;
}
.mapPopupCard:hover{
	border: 0px solid green;
}

.biopamaPopup .mapboxgl-popup-close-button{
    display: none;
}
.biopamaPopup{
    max-width: 240px;
}
.biopamaPopup.multiPAs .mapboxgl-popup-content:before{
    content: '';
    bottom: 0;
	left: 10px;
    height: 20px;
    right: 0;
    background: linear-gradient(to top, rgb(255, 248, 248) 0%,rgba(251, 251, 251, 0) 100%);
    position: fixed;
    z-index: 5;
}

.card-body.homepageMapCardBody {
    padding: 0.2rem 1rem;
	cursor: pointer;
}

.mapCloseMarker {
  background-color: rgba(100,100,100,0.15);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  top: 0px;
  right: 10px;
  position: absolute;
}
.mapCloseMarker:hover {
  background-color: rgba(255,165,165,0.30);
  color: red;
  font-size: 24px;
}

.card-header {
    padding: 2px 15px;
    font-variant: small-caps;
    color: #fff;
}

.card-header-region{
    background-color: #212529;
}
.card-header-country{
    background-color: #212529;
}
.card-header-pa{
	background-color: #212529;
}
div.mapPopupCard.region a.cardIcon{
    color: #ffffff;
    border: 2px solid #ffffffad;
}
div.mapPopupCard.country a.cardIcon{
    color: #ffffff;
    border: 2px solid #ffffffad;
}
div.mapPopupCard.pa a.cardIcon{
	color: #8FBF4B;
    border: 2px solid #8FBF4B;
}

.area-icons {
    display: flex;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 33px);
}
.area-subheading{
    color: white;
}
a.cardIcon {
    background-color: #1f2123;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
	font-size: 16px;
	border-radius: 50%;
    margin: 0 5px;
	text-decoration: none;
}
a.cardIcon:hover {
	font-size: 20px;
}